# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/

# Scrapy
*.log
*.db
*.csv
*.json
*.txt
*.xml
*.tsv
*.jl

# Playwright
playwright/.cache/

# VS Code
.vscode/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Cache
*.cache